

src/test/resources/config.properties
*.log

target/
test-output/
allure-results/
allure-report/
.allure/

proje_ozeti.txt

### --- JAVA & MAVEN --- ###
*.class
*.bluej
*.ctxt
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
!.mvn/wrapper/maven-wrapper.jar

### --- IntelliJ IDEA --- ###
.idea/
*.iws
*.iml
*.ipr
out/

**/target/

### --- Eclipse & NetBeans & VS Code --- ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
.vscode/

### --- OS Specific (Linux & Windows) --- ###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*~